{% extends 'base.html' %}

{% block title %}
passwordsetting - {{ block.super }}
{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user_password_reset_confirm.css' %}">

<div class="password-reset-confirm-wrapper">
    <div class="password-reset">

        <form method="POST" class="password-reset-confirm-form">
            {% csrf_token %}
            <div class="error-message">
            {{ form.non_field_errors }}
                {% if form.errors %}
                    {% for key, value in form.errors.items %}
                        {% if key != '__all__' %}
                            <p>{{ value }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-content">
                <p>{{ form.new_password1.label }}:</p>
                {{ form.new_password1 }}
            </div>
            <div class="form-content">
                <p>{{ form.new_password2.label }}:</p>
                {{ form.new_password2 }}
            </div>
            <input class="btn-password-reset-confirm" type="submit" value="Regist">

        </form>



    </div>

</div>

{% endblock %}