{% extends 'base.html' %}

{% block title %}
passwordsetting - {{ block.super }}
{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user_password_reset.css' %}">

<div class="password-reset-wrapper">
    <div class="password-reset">

        <form method="POST" class="password-reset-form">
            {% csrf_token %}
            <div class="error-message">
            {{ form.non_field_errors }}
                {% if form.errors %}
                    {% for key, value in form.errors.items %}
                        {% if key != '__all__' %}
                            <p>{{ value }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-content">
                <p>Please input your e-mail address.</p>
                {{ form.email }}
            </div>
            <input class="btn-password-reset" type="submit" value="submit">

        </form>



    </div>

</div>

{% endblock %}