.password-reset-confirm-wrapper {
    text-align: center;
}

.password-reset-confirm {
    width: 70%;
    margin: 0 auto;
    max-width: 800px;
}


.password-reset-confirm-form {
    width: 100%;
}

.form-control {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    width: 60%;
    margin-bottom: 10px;
    border: 1px solid rgba(173, 173, 170, 0.6);
    border-radius: 10px;
  }

.form-content {
    margin-bottom: 20px;

}


.btn-password-reset-confirm {
    padding: 10px 35px;
    border-radius: 10px;
    background-color: rgba(171, 170, 166, 0.3);
    color: black;
    font-size: 15px;
    border: 1px solid gray;
    cursor: pointer;
}

.btn-password-reset-confirm:hover {
    background-color: rgba(171, 170, 166, 1);
}


.error-message {
    text-align: left;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
}


/* レスポンシブデザイン */
/* スマホ */
@media(max-width: 670px) {

.password-reset-confirm {
    width: 90%;
}

.form-control {
    width: 90%;
    font-size: 14px;
    padding: 5px;
}

.error-message {
    width: 95%;
    font-size: 14px;

}


}